* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.scene-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
}

.scene-wrapper {
  min-width: 101vw;
  min-height: 101vh;
  transform-origin: center center;
  transition: transform 0.1s ease-out;
}

.scene-wrapper {
  position: fixed;
  top: 10;
  left: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

#room-anim {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#room-anim video {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  object-fit: cover;
  object-position: center;
  transition: filter 0.2s ease;
}


#room-anim img {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: center;
  transition: filter 0.2s ease;
}

#room-anim iframe {
  z-index: 1;
}

.glow {
  filter: drop-shadow(0 0 10px #00c3ff)
          drop-shadow(0 0 20px #0084ff)
          drop-shadow(0 0 30px #0051ff);
}

#visualizer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 1s ease;
}


#spotify-player {
  position: absolute;
  left: 2%;
  top: 2%;
  width: 25%;
  height: 30%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

#spotify-player.visible {
  opacity: 1;
  pointer-events: auto;
}

.beanbag {
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

.bookshelf {
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

.desk {
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

.speaker {
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

.skateboard {
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

.linkedin {
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

.resume {
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

.github {
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

.hidden-btn {
  background: transparent;
  padding: 0.75rem 2rem;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s ease;
  z-index: 10;
  pointer-events: auto;
}

#skills-btn {
  top: calc(120 / 1080 * 100%);
  left: calc(1250 / 1920 * 100%);
  width: calc(450 / 1920 * 100%);
  height: calc(200 / 1080 * 100%);
  position: absolute;
}

#projects-btn {
  top: calc(320 / 1080 * 100%);
  left: calc(150 / 1920 * 100%);
  width: calc(500 / 1920 * 100%);
  height: calc(450 / 1080 * 100%);
  position: absolute;
}

#about-btn {
  top: calc(50 / 1080 * 100%);
  left: calc(1700 / 1920 * 100%);
  width: calc(400 / 1920 * 100%);
  height: calc(1000 / 1080 * 100%);
  position: absolute;
}

#anim-btn {
  top: calc(600 / 1080 * 100%);
  left: calc(1400 / 1920 * 100%);
  width: calc(400 / 1920 * 100%);
  height: calc(400 / 1080 * 100%);
  position: absolute;
}

#linkedin-btn {
  top: calc(250 / 1080 * 100%);
  left: calc(1100 / 1920 * 100%);
  width: calc(200 / 1920 * 100%);
  height: calc(200 / 1080 * 100%);
  position: absolute;
}

#resume-btn {
  top: calc(400 / 1080 * 100%);
  left: calc(1300 / 1920 * 100%);
  width: calc(200 / 1920 * 100%);
  height: calc(200 / 1080 * 100%);
  position: absolute;
}

#github-btn {
  top: calc(100 / 1080 * 100%);
  left: calc(900 / 1920 * 100%);
  width: calc(200 / 1920 * 100%);
  height: calc(200 / 1080 * 100%);
  position: absolute;
}

#songs-btn {
  top: calc(250 / 1080 * 100%);
  left: calc(550 / 1920 * 100%);
  width: calc(300 / 1920 * 100%);
  height: calc(400 / 1080 * 100%);
  position: absolute;
}




#overlay-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 50; 

  font-family: 'Trebuchet MS', 'Verdana', sans-serif;
  font-size: 24px;
  line-height: 1.6;
  color: #e5e5e5;

  --overlay-bg: url('assets/screenie1.png');
}

#overlay-window.active {
  opacity: 1;
  pointer-events: all;
}

#overlay-window::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--overlay-bg) center/cover no-repeat;
  opacity: 0.6;
  animation: bounce-bg 2s ease-in-out infinite;
}


@keyframes bounce-bg {
  0%, 100% {
    background-position: 0 50%; /* starting position */
  }
  50% {
    background-position: 0 55%; /* move down 10px at midpoint */
  }
}

.hidden {
  display: none;
}

.window-content {
  position: relative;
  background: rgba(30, 117, 218, 0.247);
  width: 90%;
  height: 90%;
  color: white;
  padding: 2rem;
  overflow-y: auto;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
  margin-top: 5%;
  margin-bottom: 5%;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-image: url("assets/blinkie.gif") 30 round; 
  border-radius: 12px;


  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(18, 137, 184, 0.3) rgba(20, 20, 20, 0.6);

  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0.2));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0.2));
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

#overlay-window.active .window-content {
  transform: translateY(0);
  opacity: 1;
}

.window-content.closing {
  transform: translateY(100px);
  opacity: 0;
}

#overlay-window h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;

}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s;
}
.close-button:hover {
  opacity: 0.7;
}

.skills-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit);
  align-items: center;
  gap: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skills-grid span {
  font-size: 3rem;
  background: rgba(13, 4, 136, 0.1);
  border-radius: 8px;
  padding: 0.5rem 5rem;
  text-align: center;
  font-weight: 500;
  transition: background 0.2s;
}

.project {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.project h1 {
  margin-bottom: 0.5rem;
}

.project-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.project-desc {
  font-size: 2.4rem;
  width: 70%;
  color: #e5e5e5;
  line-height: 1.5;
  color: rgba(230,230,230,0.9);
}

.project-desc a {
  color: #00ffd5;
  text-decoration: none;
}

.project-desc a:hover {
  text-decoration: underline;
}

.project-image {
  flex: 1;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: contain;
  opacity: 0.9;
}

.about-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}


.about-para {
  width: 70%;
  font-size: 2.4rem;
  line-height: 1.6;
  color: rgba(230,230,230,0.9);
}



.about-image {
  flex: 1;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: contain;
  opacity: 0.9;
}

.about-para-2 {
  font-size: 2.4rem;
  line-height: 1.6;
}

section {
  margin-bottom: 4rem;
}

.separator {
  width: 96%;
  height: 20px;
  margin: 2rem auto;
  background-image: url("assets/divider.gif");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
  opacity: 1;
  animation: scrollBg 10s linear infinite;
}

@keyframes scrollBg {
  0% { background-position-x: 0; }
  100% { background-position-x: -400px; }
}